{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Schedules list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Minute</th>
                <th>Hour</th>
                <th>Day</th>
                <th>Month</th>
                <th>Year</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('schedules_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.minute }}</td>
                <td>{{ entity.hour }}</td>
                <td>{{ entity.day }}</td>
                <td>{{ entity.month }}</td>
                <td>{{ entity.year }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('schedules_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('schedules_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('schedules_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
