{% extends 'ORFSStoreBundle:Parts:base.html.twig' %}

{% block body -%}
    <h1>Carts list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Uniqid</th>
                <th>Products</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('carts_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.uniqId }}</td>
                <td>{{ entity.products }}</td>
                <td>{{ entity.total }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('carts_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('carts_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('carts_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
