{% extends 'ORFSStoreBundle:Parts:base.html.twig' %}

{% block body -%}
    <h1>Carts</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Uniqid</th>
                <td>{{ entity.uniqId }}</td>
            </tr>
            <tr>
                <th>Products</th>
                <td>{{ entity.products }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ entity.total }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('carts') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('carts_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
